@font-face {
    font-family: 'MINI Serif';
    src: local('MINI Serif Regular'), local('MINISerif-Regular'),
        url('/fonts/MINISerif-Regular.woff2') format('woff2'),
        url('/fonts/MINISerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MINI Serif';
    src: local('MINI Serif Bold'), local('MINISerif-Bold'),
        url('/fonts/MINISerif-Bold.woff2') format('woff2'),
        url('/fonts/MINISerif-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MINI Serif';
    src: local('MINI Serif Medium'), local('MINISerif-Medium'),
        url('/fonts/MINISerif-Medium.woff2') format('woff2'),
        url('/fonts/MINISerif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

