---
import BmwLogoGrey from "../components/SVG/MiniLogoBlack.astro";
import Layout from "../layouts/Layout.astro"
---

<Layout title="Mentions légales" bodyClass="">
    <div class="w-full h-full bg-white py-20 overflow-y-auto">
        <div class="prose-lg prose-headings:font-bold max-w-4xl px-10 mx-auto">
            <BmwLogoGrey class="w-32 h-auto mb-10" />
            <h2>Mentions légales</h2>
            <hr>
            <p>
                BMW Finance vous remercie de l’intérêt que vous portez à ses produits et de votre visite sur
                son site Internet.
            </p>
            <h3><strong>Editeur du site:</strong></h3>
            <address>
                BMW FINANCE<br>
                <strong>Siège social :</strong> 5 rue des hérons, Montigny-le-Bretonneux, CS 30751, Saint-Quentin-en-
                Yvelines<br>
                <strong>Téléphone :</strong> 09 69 32 20 39*<br>
                <em class="text-sm">*Appel gratuit depuis un poste fixe, de 8h30 à 20h du lundi au vendredi et de 10h à 18h le samedi.</em><br>
                Société en Nom Collectif au capital de 87 000 000 euros<br>
                RCS Versailles 343 606 448<br>
                <strong>Numéro de TVA :</strong> FR 65 343 606 448<br>
                <br>
                <strong>Hébergement :</strong> OVH<br>
            </address>
            <h3>PREAMBULE</h3>
            <p>
                BMW FINANCE a ouvert ce site accessible à l’adresse
                «URL » (ci-après le « Site ») pour l&#39;information de ses
                utilisateurs. L’utilisateur du Site internet est défini comme toute personne ayant accès au Site
                aux fins de le consulter et/ou accéder aux services d’informations de BMW FINANCE.
            </p>
            <p>
                Aucune exploitation commerciale, même partielle, des informations présentées sur le Site ne
                pourra être effectuée sans l&#39;accord préalable et écrit de BMW FINANCE. Les informations
                figurant sur le Site le sont à titre indicatif sans garantie d’exactitude ou de mise à jour, et sont
                susceptibles d&#39;évoluer, à tout moment.
            </p>
            <p>
                Les présentes conditions générales d’utilisation (ci-après « CGU ») ont pour objet de définir
                les conditions d’utilisation du Site.
            </p>
            <h3>Article 1 - Acceptation des conditions d’utilisation</h3>
            <p>
                L’utilisateur reconnaît avoir pris connaissance des conditions d’utilisation, au moment de sa
                connexion vers le site « www.demandefinancement.bmw.fr » et s’engage à les respecter
                sans réserve.
            </p>
            <p>
                L’Utilisateur peut demander une copie des CGU en s’adressant au Centre d’Interaction Clients de
                BMW Finance au numéro indiqué au préambule ci-dessus.
            </p>
            <h3>Article 2 - Modification des conditions d’utilisation</h3>
            <p>
                BMW FINANCE se réserve le droit de modifier les termes des CGU à tout moment et sans
                préavis.
            </p>
            <p>
                L&#39;Utilisateur s’engage donc à consulter régulièrement la dernière version des CGU disponible
                sur le Site.
            </p>
            <h3>Article 3 - Protection et traitement des données à caractère personnel</h3>
            <p>
                La protection de vos données personnelles et le respect de la « Loi Informatique et Libertés
                » sont essentiels pour BMW FINANCE. C’est pourquoi, nous traiterons et utiliserons vos
                données avec le plus grand soin, à des fins spécifiques, dans le respect du consentement que vous nous aurez donné et conformément aux dispositions légales concernant la
                protection des données.
            </p>
            <p>
                Pour plus d’informations sur le traitement de vos données personnelles, nous vous invitions
                à lire notre politique de confidentialité.
            </p>
            <h3>Article 4 - Cookies</h3>
            <p>
                Un cookie est un petit fichier texte, déposé par un site web sur le disque dur de l’ordinateur
                dans le but d’enregistrer des informations relatives à la navigation sur le site. Presque tous
                les sites web utilisent la technologie des cookies.
            </p>
            <p>
                Pour plus d’informations sur l’utilisation des cookies sur le Site, nous vous invitons à
                consulter notre document intitulé utilisation des cookies.
            </p>
            <h3>Article 5 - Droit de propriété intellectuelle</h3>
            <p>
                BMW FINANCE ne concède aucune licence sur tout ou partie du contenu ni aucun droit
                autre que celui de consulter et d’utiliser le Site et ses services.
            </p>
            <p>
                La présentation et le contenu du Site constituent, ensemble, une œuvre protégée par le droit
                de la propriété intellectuelle.
            </p>
            <p>
                Les droits de propriété intellectuelle sur les documents et toute donnée de toute nature
                contenus dans le Site et notamment sur chacun des éléments composant le Site (images
                animées ou non, illustrations, photographies, sons, savoir-faire, textes, documentations
                publicitaire ou non, éléments graphiques,...), y compris les logiciels, bases de données sont
                la propriété exclusive de BMW FINANCE ou d’un tiers ayant consenti les droits d’utilisation à
                BMW FINANCE. Le Site peut contenir des images dont les droits d’auteur appartiennent à
                des tiers.
            </p>
            <p>
                Sauf indication contraire, toutes les marques de commerce contenues sur le Site sont
                soumises aux droits des marques de BMW AG, celles-ci incluant les marques, les noms des
                modèles, les logos et les emblèmes.
            </p>
            <p>
                Toute exploitation non autorisée de ces objets, contenus, marques, logos et signes
                distinctifs, sans l’accord préalable et écrit de BMW Finance, est formellement interdite. Le
                contrevenant s&#39;expose à des sanctions civiles et pénales et notamment aux peines prévues
                aux articles L. 335.2 et L. 343.1 du code de la Propriété Intellectuelle.
            </p>
            <h3>Article 6 - Responsabilité</h3>
            <p>
                BMW Finance met en place toutes les mesures de sécurité appropriées, selon les standards
                du marché, pour assurer la protection du Site. L’accès à ces données est limité à BMW
                Finance et à ses partenaires qui ont besoin d’en connaître dans le cadre de la demande de
                financement réalisée. L’Utilisateur reconnaît que BMW Finance ne peut garantir la sécurité
                absolue des données, notamment lors de leur éventuel transfert par communication via
                Internet. En conséquence, BMW Finance ne pourra voir sa responsabilité engagée en cas,
                notamment, de détournement, captation, corruption de données survenant à l&#39;occasion de
                leur transfert sur les réseaux de télécommunication publics.
            </p>
            <p>
                Le Site peut contenir des liens hypertextes permettant l&#39;accès à des sites qui ne sont pas
                édités par BMW FINANCE. En conséquence, l’utilisateur accepte que tout contenu émanant
                de tiers ou tout lien hypertexte vers d’autres sites n’engage que la responsabilité de leur
                auteur et/ou éditeur et aucunement celle de BMW FINANCE.
            </p>
            <p>
                La création de liens hypertextes vers le site www.demandefinancement.bmw.fr doit faire
                l&#39;objet d&#39;une autorisation préalable de BMW FINANCE, qui pourra être révoquée à tout
                moment à sa seule discrétion. BMW FINANCE France se réserve le droit de (i) demander la
                suppression de tout lien vers le Site qui n&#39;aurait pas été, ou ne serait plus, autorisé et de (ii)
                demander des dommages et intérêts en réparation du préjudice subi de ce fait.
            </p>
            <h3>Article 7 - Accès au site</h3>
            <p>
                BMW FINANCE s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf
                en cas de force majeure ou d’un événement hors du contrôle de BMW FINANCE, et sous
                réserve des éventuelles pannes et interventions de maintenance nécessaires au bon
                fonctionnement du Site et des services.
            </p>
            <p>
                Par conséquent, BMW FINANCE ne peut garantir une disponibilité du Site et/ou des
                services, une fiabilité des transmissions et des performances en termes de temps de
                réponse ou de qualité.
            </p>
            <p>
                La responsabilité de BMW FINANCE ne saurait être engagée en cas d’impossibilité d’accès
                à ce Site et/ou d’utilisation des services ou de présence d’un virus sur le Site. création de liens hypertextes vers le site www.demandefinancement.bmw.fr doit faire
                l&#39;objet d&#39;une autorisation préalable de BMW FINANCE, qui pourra être révoquée à tout
                moment à sa seule discrétion. BMW FINANCE France se réserve le droit de (i) demander la
                suppression de tout lien vers le Site qui n&#39;aurait pas été, ou ne serait plus, autorisé et de (ii)
                demander des dommages et intérêts en réparation du préjudice subi de ce fait.
            </p>
            <p>
                Le Site est accessible gratuitement à tout utilisateur disposant d’un accès internet. Tous les
                coûts afférents à l&#39;accès à l’Application, que ce soient les frais matériels ou d&#39;accès à internet
                sont exclusivement à la charge de l&#39;utilisateur. Il est seul responsable du bon fonctionnement
                de son équipement ainsi que de son accès à internet.
            </p>
            <h3>Article 8 - Droit applicable et Juridiction compétente</h3>
            <p>
                Le droit applicable aux conditions d’utilisation du Site est déterminé par la loi française. En
                cas de litige né de la conclusion de l’existence, de la validité, de l’interprétation, de
                l’exécution ou de la résiliation des CGU, n&#39;ayant pu faire l&#39;objet d&#39;un accord à l&#39;amiable, seuls
                les tribunaux français du ressort de la cour d&#39;appel de Paris sont compétents.
            </p>
            <em>Mise à jour 02 février 2023</em>
        </div>
    </div>
    
</Layout>