---
import type { Props } from "astro";
import clsx from "clsx";

interface TableRowProps extends Props {
    noBorder?: boolean;
}

const { noBorder = false } = Astro.props as TableRowProps;
---

<tr 
    class={
        clsx("text-xs sm:text-normal", {
            "border-b border-b-mini-gray/20": !noBorder
        })
    }>
    <td class="text-center px-0 sm:px-18 py-8">
        <slot name="text" />
    </td>
    <td class="bg-[#EEEEEE] border-l border-l-white">
        <div class="w-full h-full flex justify-center items-center">
            <slot name="WI" />
        </div>
    </td>
    <td class="bg-[#EEEEEE] border-l border-l-white py-4">
        <div class="w-full h-full flex justify-center items-center">
            <slot name="GVA" />
        </div>
    </td>
    <td class="bg-[#B2D1E7] border-l border-l-white py-4">
        <div class="w-full h-full flex justify-center items-center text-center">
            <slot name="GPF" />
            <stot name="GPF_TEXT" />
        </div>
    </td>
</tr>