<footer class="w-full font-bold bg-black py-8 sm:py-4 px-4 md:px-8 flex flex-col sm:flex-row justify-end items-center text-lg sm:text-sm md:text-base space-y-4 sm:space-y-0">
    <nav class=" text-white flex flex-col items-center sm:flex-row sm:pt-0 space-y-8 sm:space-y-0 sm:space-x-6">
        <a href="/mentions-legales" target="_blank" class="underline-offset-2 hover:underline">Mentions légales</a>
        <a href="/protection-des-donnees" target="_blank" class="underline-offset-2 hover:underline">Protection des données</a>
    </nav>
</footer>