---
import BmwLogo from "./SVG/BmwLogo.astro";

---

<header class="hidden sm:flex pt-8 px-12 flex-row justify-between items-center text-white">
    <h1 class="text-white text-2xl font-bold text-shadow-xl">MINI FINANCIAL SERVICES</h1>
    <BmwLogo class="w-22 md:w-28 h-auto" />
</header>