---
import { Picture } from "@astrojs/image/components";
import type { Props } from "astro";

const { imageSrc } = Astro.props as Props;

---
<div class="w-full h-full overflow-hidden">
    <Picture
        src={imageSrc}
        class="hidden sm:block fixed inset-0 w-full h-full object-cover object-bottom z-0"
        alt="Main Menu Background"
        widths={[800, 1280, 1920]}
        sizes=""
        formats={["jpeg"]}
    />
    <div class="relative w-full h-full overflow-hidden">
        <slot />
    </div>
</div>
