---
import type { Props } from "astro";
import clsx from "clsx";

interface ParagraphProps extends Props {
    last?: boolean;
}

const { last = false } = Astro.props as ParagraphProps;
---

<p class={clsx("w-full max-w-5xl", { 'mb-8': last === false })}>
    <slot />
</p>