---
import type { Props } from "astro";
import clsx from "clsx";

interface SectionProps extends Props {
    noBorder?: boolean;
}

const { noBorder = false } = Astro.props as SectionProps;
---

<div 
    class={
        clsx(
            "py-10 lg:px-14",
            {"border-b border-b-mini-light-gray": noBorder === false}
        )
    }>
    <slot />
</div>