---
import Info from "../../SVG/Info.astro";

export type MainMenuButtonProps = {
    href?: string | URL | null;
    text?: string;
}

const {
    href = "#",
    text = "placeholder"
} = Astro.props as MainMenuButtonProps;

---

<a href={href} class="relative block text-center text-lg sm:text-base text-mini-blue p-4 sm:p-2 border border-mini-blue w-full transition-colors hover:bg-mini-blue hover:text-white">
    { text }
    <Info class="absolute w-6 h-6 right-3 top-2" />
</a>